<html>
<title>SOL Studio</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<head>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/animate.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</head>



<body>
    <div class="logoContainer">
        <img src="img/logo.png">
    </div>

    <div class="description animated fadeIn">
        <div class="closeButton">
            <img src="img/closebutton.png">
        </div>
        SOL Studio <br>provides creative direction for all manners of visual content.
        <br><br>
        For project inquiries, contact<br>
        management@sol-studio.net

    </div>

    <div class="projectContainer">
        <img id="img" src="img/projectImg/Image-1.jpg">
    </div>

    <div class="projectSlideLayerLeft"></div>
    <div class="projectSlideLayerRight"></div>

</body>

<footer>
    <script>

        var imgNum = 1;

        function imgNumCheck() {
            if (imgNum === 0) {
                imgNum = 18;
            } else if (imgNum === 19) {
                imgNum = 1
            }
            console.log(imgNum);
        }

        $(".logoContainer").click(function () {
            $(".description").css("display", "flex");
            $(".projectContainer").css("filter", "blur(5px)");
        })

        $(".closeButton").click(function () {
            $(".description").css("display", "none");
            $(".projectContainer").css("filter", "blur(0px)");
        })

        $(".projectSlideLayerRight").click(function () {
            imgNum += 1;
            imgNumCheck();
            document.getElementById("img").src = "img/projectImg/Image-" + imgNum + ".jpg";
            
        })
        $(".projectSlideLayerLeft").click(function () {
            imgNum -= 1;
            imgNumCheck();
            document.getElementById("img").src = "img/projectImg/Image-" + imgNum + ".jpg";
        })
    </script>
</footer>

</html>